.diary-display{
display:flex;
background-color: hsla(170, 59%, 74%, 0.2);
border-radius: 5rem;
justify-content: space-around;
align-content: center;
padding: 4rem;
margin: 0rem 12rem 0rem 12rem;
width: auto;
}

.diary-text{    
    display: flex;
    flex-direction: column;
}

.diary-radar{
    display: flex;
    margin: 0;
}

p{
    margin: 0;
}

.q{
    font-weight: bold;
font-size: .75rem;
}

#edit > a {
    font-weight: bold;
    font-size: .7rem;

}
