.diary-display{
display:flex;
justify-content: space-around;
align-content: center;
padding: 4rem;
max-width:70vw;
}

.diary-text{    
    display: flex;
    flex-direction: column;
}

.diary-radar{
    display: flex;
    margin: 0;
}

p{
    margin: 0;
}
