.diary-display{
display:flex;
background-color: hsla(180, 100%, 50%, 0.329);
border-radius: 5rem;
justify-content: space-around;
align-content: center;
padding: 4rem;
max-width:70vw;
}

.diary-text{    
    display: flex;
    flex-direction: column;
}

.diary-radar{
    display: flex;
    margin: 0;
}

p{
    margin: 0;
}

.q{
    font-weight: bold;
font-size: .75rem;
}

.a{

}
