.journal-form-indi {
    text-align: center;
    align-items: center;
    grid-gap: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(3, auto);
    row-gap: 5rem;
    column-gap: 3rem;
    margin: 50px auto auto;
    max-width: 1500px;
    padding-bottom: rem;
    font-family: ragasta;
}

.heading {
    text-align: center;
}

.date {
    font-size: 30px;
}

.formWrap-2 {
    background: #8fd0ff7d;
    border-radius: 35px;
    min-height: 100%;
    padding: 1.2rem 1rem;
    border: solid 1px
    
}

.textarea-title {
    font-size: 20px;
    text-align: left;
    margin-bottom: 40px;
    /* text-decoration: underline; */
    font-weight: bold;
}

.calendar {
    font-size: 30px;
    font-weight: 500;
    margin-top: 60px;
}

.sleep {
    margin-top: 10px;
    font-size: 17px;
}

.meals {
    margin-top: 10px;
    font-size: 17px;
}

.screentime {
    margin-top: 10px;
    font-size: 17px;
}

.downtime {
    margin-top: 10px;
    font-size: 17px;
}

.mood {
    margin-top: 10px;
    font-size: 17px;
}

.hydration {
    margin-top: 10px;
    font-size: 17px;
}

.tip {
    margin-top: 10px;
    font-size: 20px;

}

.select {
    margin-top: 50px;
}

.save {
    font-family: ragasta;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border:#cfdcec;
}

.tip-header {
    margin-top: 50px;
}

.diary{
    padding-left: 0;
    margin:0;
}


