
.journal_list > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
    text-decoration: none;
    
}

.list_component > ul{
    text-decoration: none;
    list-style-type: none;
}

.no_marker{
    text-decoration: none;
    list-style-type: none; 
}