.logoContainer {
    display: flex;
    justify-content: center;
}

#entry_logo {
    width: 500px;
    height: 500px;
}


.formContainer {
    display: flex;
    justify-content: center;
    font-family: ragasta;
    font-size: 1.5rem;
}

.formJournal> input{
    display: flex;
    flex-direction: column;
    width: 30rem;
}