.list_component {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

.entry-button {
    font-size: 10rem;
    align-items: center;

}

.journal_list>ul {
    grid-gap: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px auto auto;
    max-width: 900px;
    padding-bottom: 5rem;

}

.journal_list>ul>li {
    text-align: center;
    border: solid 1px #4a4a4a;
    border-radius: 20px;
}


.no_marker {
    text-decoration: none;
    list-style-type: none;
    padding-right: 40px;
    padding-left: 1px;
}

a {

    text-decoration: none;
    align-items: center !important;
    padding-left: .75rem;


}

a:visited {
    color: #3f3f3d;
}

a:active {
    color: #3f3f3d;
}

a:hover {
    color: #3f3f3d;
}

a:link {
    color: #3f3f3d;
}

.journal_entry_button {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin-bottom: 20px;
}

.list_component>li>a {
    text-align: center;
}

.options {
    font-size: 17px;
}