
.list_component{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}

.entry-button{
    font-size: 10rem;
    align-items: center;

}

.journal_list > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
    text-decoration: none;
    color: #403f3f;
    font-family: soligant;
    font-weight: 1000;

}

.no_marker{
    text-decoration: none;
    list-style-type: none;
}

a {

    text-decoration: none;
    align-items: center !important;
    padding-left: .75rem;
    

}

a:visited {
    color: #3f3f3d;
}

a:active {
    color: #3f3f3d;
}

a:hover {
    color: #3f3f3d;
}

a:link {
    color: #3f3f3d;
}

.journal_entry_button {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.list_component>li>a {
    text-align: center;
}

.options {
    font-size: 17px;
}

